body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
}

header {
    background-color: beige;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0.3rem;
}

button {
    float: right;
}

.main {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.card {
    background-color: aquamarine;
    max-width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
}

#popup {
    display: none;
}