@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Quicksand', 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    background-color: #f0fdfa;
    color: white
}

header {
    background-color: #99f6e4;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0.3rem;
}

button {
    border: 0.5px solid black;
    background-color: white;
    float: right;
    border-radius: 3px;
}

.main {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.card {
    background-color: #0f766e;
    max-width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    flex-direction: column;
    gap: 3rem;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#popup {
    margin: 15% auto;
    width: 15%;
    background-color: #ccfbf1;
    padding: 2rem;
    border: 1px solid #888;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: grey;
}

#submitBtn {
    background-color: rgb(8, 180, 8);
}

#submitBtn:disabled {
    background-color: rgb(228, 228, 228);
}
